.authFormOuter {
  margin-top: -1%;
  display: table;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-image:url('./img/auth/фон.png');
  background-repeat: no-repeat;
  background-color: gainsboro ;
  background-size: 100% 100%;
  opacity: 0.9;
}

.enterButton {
  background-color: orange;
}

.forgetButton {
  float: right;
}

td{
  font-size: 15px;
}

label{
  font-size: 15px;
}

div{
  font-size: 15px;
}

.body-div{
  padding: 1%;
  box-sizing: border-box;
  display: table;
  position: absolute;
  top: 5.1%;
  height: 94.9%;
  width: 100%;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.authFormMiddle {
  display: table-cell;
  vertical-align: middle;
}

.authFormInner {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

:root{
  background-color: rgb(255, 255, 255);
}

.pageHeaderDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
}

.pageHeaderDivChild{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.titleH1{
  font-size: 25px;
  line-height: 30px;
  padding-left: 20px;
}

.titleButtons{
  float: right;
}

.news {
  border-width:2px;
  border-style:solid;
  padding: 10px;
  border-spacing:70px;
  background-color:#ffffff;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.lk_card{
  background-color: white;
  width: 40%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.name_lk{
  font-size: 25px;
  line-height: 30px;
  padding-left: 20px;
}

.name_people{
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
}