.authFormOuter {
  margin-top: -1%;
  display: table;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-image:url('./img/auth/фон.png');
  background-repeat: no-repeat;
  background-color: gainsboro ;
  background-size: 100% 100%;
  opacity: 0.9;
}

.enterButton {
  background-color: orange;
}

.forgetButton {
  float: right;
}

.header{
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-logo{
  height: 100%;
  width: 10%;
  background-image:url('./img/auth/logo.png');
  background-size: 10% 20%;
}

td{
  font-size: 15px;
}

label{
  font-size: 15px;
}

div{
  font-size: 15px;
}

.menu{
  position: relative;
}

.menu_item{
  float: right;
}

.body-div{
  padding: 1%;
  box-sizing: border-box;
  display: table;
  position: absolute;
  top: 5.1%;
  height: 94.9%;
  width: 100%;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.authFormMiddle {
  display: table-cell;
  vertical-align: middle;
}

.authFormInner {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.registryFormOuter {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image:url('./img/auth/фон_регистрации.png');
  background-size: 100% 100%;
  opacity: 0.8;
}

.registryFormMiddle{
  height: 100%;
  width: 20%;
  margin-top: 0;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
}

.registryFormInner {
  padding-top: 60%;
  width: 100%;
}

:root{
  background-color: rgb(255, 255, 255);
}

.rightButton{
  width:45%;
  margin: auto;
}

.leftButton{
  width:45%;
  margin: 0 0 0 10%;
}

.message-error{
  margin-right: 0;
}

.navig_rol{
  position: relative;
  left: 78%;
  top: 5px;

}

.personInfo{
  border-radius: 10px;
  background-color: darkgray;
  width:60%;
  text-align: center;
}

.pageHeaderDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
}

.pageHeaderDivChild{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.titleH1{
  font-size: 25px;
  line-height: 30px;
  padding-left: 20px;
}
.titleButtons{
  float: right;
}

.news {
  border-width:2px;
  border-style:solid;
  padding: 10px;
  border-spacing:70px;
  background-color:#ffffff;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}