.authFormOuter {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.authFormMiddle {
  display: table-cell;
  vertical-align: middle;
}

.authFormInner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* Whatever width you want */
}
:root{
  background-color:darkblue;
}